ent-addr-v5/wsdl/AddressService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.elsevier.com/AddressService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:adr="http://www.elsevier.com/osb/adr" name="AddressService" targetNamespace="http://www.elsevier.com/AddressService/">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" targetNamespace="http://www.elsevier.com/AddressService/" xmlns:adr="http://www.elsevier.com/osb/adr" >
      <xsd:import namespace="http://www.elsevier.com/osb/adr"
				schemaLocation="../xsd/AddressV1.xsd" />
      <xsd:element name="FormatAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="User" type="adr:UserType"></xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="AddressPostal" type="adr:AddressPostalType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FormatAddressResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:boolean"/>
            <xsd:element name="AddressPostal" type="adr:AddressPostalType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchAddress">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="User" type="adr:UserType"></xsd:element>
				<xsd:element minOccurs="1" maxOccurs="1" name="AddressPostal" type="adr:AddressPostalType"/>
      			<xsd:element minOccurs="1" maxOccurs="1" name="MaxResults" type="xsd:int"></xsd:element>
      			<xsd:element minOccurs="0" maxOccurs="1" name="Options" type="adr:COptimaOptionSet"></xsd:element>
			</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchAddressResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			
      			<xsd:element minOccurs="0" maxOccurs="unbounded" name="AddressPostal" type="adr:AddressPostalType"/>
			</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ProcessAddress">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="User" type="adr:UserType"></xsd:element>
      			<xsd:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="xsd:string"></xsd:element>
       			<xsd:element minOccurs="0" maxOccurs="1" name="Options" type="adr:COptimaOptionSet"></xsd:element>
				<xsd:element minOccurs="1" maxOccurs="1" name="AddressPostal" type="adr:AddressPostalType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ProcessAddressResponse">
      	<xsd:complexType>
      		<xsd:sequence>
			<xsd:element name="Result" type="xsd:boolean"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="AddressPostal" type="adr:AddressPostalType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ProcessAddresses">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="User" type="adr:UserType"></xsd:element>
      			<xsd:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="xsd:string"></xsd:element>
      			<xsd:element minOccurs="0" maxOccurs="1" name="Options" type="adr:COptimaOptionSet"></xsd:element>
				<xsd:element minOccurs="1" maxOccurs="unbounded" name="AddressPostal" type="adr:AddressPostalType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ProcessAddressesResponse">
      	<xsd:complexType>
      		<xsd:sequence>

			<xsd:element name="Result" type="xsd:boolean"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="AddressPostal" type="adr:AddressPostalType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FormatAddressRequest">
    <wsdl:part element="tns:FormatAddress" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="FormatAddressResponse">
    <wsdl:part element="tns:FormatAddressResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SearchAddressRequest">
  	<wsdl:part name="parameters" element="tns:SearchAddress"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SearchAddressResponse">
  	<wsdl:part name="parameters" element="tns:SearchAddressResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProcessAddressRequest">
  	<wsdl:part name="parameters" element="tns:ProcessAddress"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProcessAddressResponse">
  	<wsdl:part name="parameters" element="tns:ProcessAddressResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProcessAddressesRequest">
  	<wsdl:part name="parameters" element="tns:ProcessAddresses"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProcessAddressesResponse">
  	<wsdl:part name="parameters" element="tns:ProcessAddressesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AddressService">
    <wsdl:operation name="FormatAddress">
      <wsdl:input message="tns:FormatAddressRequest"/>
      <wsdl:output message="tns:FormatAddressResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SearchAddress">
    	<wsdl:input message="tns:SearchAddressRequest"></wsdl:input>
    	<wsdl:output message="tns:SearchAddressResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessAddress">
    	<wsdl:input message="tns:ProcessAddressRequest"></wsdl:input>
    	<wsdl:output message="tns:ProcessAddressResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessAddresses">
    	<wsdl:input message="tns:ProcessAddressesRequest"></wsdl:input>
    	<wsdl:output message="tns:ProcessAddressesResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressServiceSOAP" type="tns:AddressService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FormatAddress">
      <soap:operation soapAction="http://www.elsevier.com/AddressService/FormatAddress"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="SearchAddress">
      <soap:operation soapAction="http://www.elsevier.com/AddressService/SearchAddress"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="ProcessAddress">
      <soap:operation soapAction="http://www.elsevier.com/AddressService/ProcessAddress"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
         <wsdl:operation name="ProcessAddresses">
      <soap:operation soapAction="http://www.elsevier.com/AddressService/ProcessAddresses"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
    <wsdl:port binding="tns:AddressServiceSOAP" name="AddressServiceSOAP">
      <soap:address location="http://to-be-defined-by-user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
