ent-addr-v5/wsdl/globaladdress.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.globaladdress.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.globaladdress.net">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This is a transaction based service used to perform international address validation, searching and geocoding.
</wsdl:documentation>
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://webservices.globaladdress.net">
<s:element name="GetOCO">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Value" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetOCOResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetOCOResult" type="tns:OCO"/>
</s:sequence>
</s:complexType>
</s:element>
<s:simpleType name="OCO">
<s:restriction base="s:string">
<s:enumeration value="ProperCase"/>
<s:enumeration value="UpperCase"/>
<s:enumeration value="LowerCase"/>
<s:enumeration value="CountryCase"/>
<s:enumeration value="USASCIIUpperCase"/>
<s:enumeration value="NoCase"/>
</s:restriction>
</s:simpleType>
<s:element name="GetTransactionHistory">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime"/>
<s:element minOccurs="0" maxOccurs="1" name="results" type="tns:ArrayOfAnyType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ArrayOfAnyType">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true"/>
</s:sequence>
</s:complexType>
<s:element name="GetTransactionHistoryResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetTransactionHistoryResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="results" type="tns:ArrayOfAnyType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetTransactionTotal">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetTransactionTotalResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetTransactionTotalResult" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessWithEnhancement">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="Contact">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AddressLine4" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AddressLine5" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AddressLine6" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AddressLine7" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AddressLine8" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Building" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="SubBuilding" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Premise" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="SubStreet" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="POBox" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="SubCity" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Principality" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="DPS" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Cedex" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ACR" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TCR" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other1" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other2" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other3" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other4" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other5" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other6" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other7" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other8" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other9" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Other10" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="ProcessWithEnhancementResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessWithEnhancementResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessMultipleAddressesV2010Q2">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="AcceptanceLevel" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="InnerAcceptancePC" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="OuterAcceptancePC" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="COptimaOptionSet">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:ArrayOfCOptimaOption"/>
<s:element minOccurs="0" maxOccurs="1" name="OptionMasks" type="tns:ArrayOfCOptimaOptionMasks"/>
<s:element minOccurs="0" maxOccurs="1" name="OptionsOther" type="tns:ArrayOfCOptimaOptionOther"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfCOptimaOption">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="COptimaOption" nillable="true" type="tns:COptimaOption"/>
</s:sequence>
</s:complexType>
<s:complexType name="COptimaOption">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="OptionNumber" type="tns:OON"/>
<s:element minOccurs="1" maxOccurs="1" name="OptionValue" type="s:int"/>
</s:sequence>
</s:complexType>
<s:simpleType name="OON">
<s:restriction base="s:string">
<s:enumeration value="SalutationLanguage"/>
<s:enumeration value="CountryLanguage"/>
<s:enumeration value="OverrideSalutationLanguage"/>
<s:enumeration value="NameCasing"/>
<s:enumeration value="AddressCasing"/>
<s:enumeration value="TelephoneCasing"/>
<s:enumeration value="NameWordCheck"/>
<s:enumeration value="AddressWordCheck"/>
<s:enumeration value="TelephoneWordCheck"/>
<s:enumeration value="ForceUpdate1"/>
<s:enumeration value="ForceUpdate2"/>
<s:enumeration value="ForceUpdate3"/>
<s:enumeration value="Deprecated1"/>
<s:enumeration value="NameFlagBadWord"/>
<s:enumeration value="AddressFlagBadWord"/>
<s:enumeration value="TelephoneFlagBadWord"/>
<s:enumeration value="Deprecated2"/>
<s:enumeration value="CautiousUpdate"/>
<s:enumeration value="EnforceBlanks"/>
<s:enumeration value="DedupeCommonErrors"/>
<s:enumeration value="FormatComponents1"/>
<s:enumeration value="FormatComponents2"/>
<s:enumeration value="FormatComponents3"/>
<s:enumeration value="StandardiseComponents1"/>
<s:enumeration value="StandardiseComponents2"/>
<s:enumeration value="StandardiseComponents3"/>
<s:enumeration value="ValidateComponents1"/>
<s:enumeration value="ValidateComponents2"/>
<s:enumeration value="ValidateComponents3"/>
<s:enumeration value="CompanyWeight"/>
<s:enumeration value="StreetWeight"/>
<s:enumeration value="CityWeight"/>
<s:enumeration value="PostcodeWeight"/>
<s:enumeration value="ShuffleLines"/>
<s:enumeration value="ConcatenationLines"/>
<s:enumeration value="OuterMatchscoreLines"/>
<s:enumeration value="CarryStandardisationChanges"/>
<s:enumeration value="ApplyReferenceAccents"/>
<s:enumeration value="ReturnUserData"/>
<s:enumeration value="SearchTimeout"/>
<s:enumeration value="ReplaceAlias1"/>
<s:enumeration value="ReplaceAlias2"/>
<s:enumeration value="ReplaceAlias3"/>
<s:enumeration value="ValidatedDataOnly"/>
<s:enumeration value="StandardisationDebugOutput"/>
<s:enumeration value="FormatSearchResults"/>
<s:enumeration value="CompareField1"/>
<s:enumeration value="CompareField2"/>
<s:enumeration value="CompareField3"/>
<s:enumeration value="AlwaysShow1"/>
<s:enumeration value="AlwaysShow2"/>
<s:enumeration value="AlwaysShow3"/>
<s:enumeration value="StandardiseComponents"/>
<s:enumeration value="RemoveNumerics"/>
<s:enumeration value="GeocodeSearchResults"/>
<s:enumeration value="Transliteration"/>
<s:enumeration value="StrictSelect"/>
<s:enumeration value="PhoneticAliasMatch"/>
<s:enumeration value="IgnoreEOLs"/>
<s:enumeration value="ReturnPremiseRanges"/>
<s:enumeration value="ConcatenateValidationRules"/>
<s:enumeration value="AddressValidationRuleOFT"/>
<s:enumeration value="EnhanceValidationRuleOFT"/>
<s:enumeration value="ExhaustiveValidation"/>
<s:enumeration value="ExhaustiveEnhancement"/>
<s:enumeration value="ExhaustiveSearchAddress"/>
<s:enumeration value="BusinessFlagSearchResults"/>
<s:enumeration value="EnhancedDataOnly"/>
<s:enumeration value="NumOptionsPlusOne"/>
</s:restriction>
</s:simpleType>
<s:complexType name="ArrayOfCOptimaOptionMasks">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="COptimaOptionMasks" nillable="true" type="tns:COptimaOptionMasks"/>
</s:sequence>
</s:complexType>
<s:complexType name="COptimaOptionMasks">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="OptionNumber" type="tns:OON"/>
<s:element minOccurs="1" maxOccurs="1" name="FieldNumber" type="tns:OFT"/>
<s:element minOccurs="1" maxOccurs="1" name="OptionValue" type="s:boolean"/>
</s:sequence>
</s:complexType>
<s:simpleType name="OFT">
<s:restriction base="s:string">
<s:enumeration value="RecordID"/>
<s:enumeration value="Title"/>
<s:enumeration value="FirstName"/>
<s:enumeration value="MiddleInitials"/>
<s:enumeration value="LastName"/>
<s:enumeration value="FullName"/>
<s:enumeration value="NameSuffix"/>
<s:enumeration value="Gender"/>
<s:enumeration value="JobTitle"/>
<s:enumeration value="Salutation"/>
<s:enumeration value="Department"/>
<s:enumeration value="Company"/>
<s:enumeration value="Building"/>
<s:enumeration value="SubBuilding"/>
<s:enumeration value="Premise"/>
<s:enumeration value="Street"/>
<s:enumeration value="SubStreet"/>
<s:enumeration value="POBox"/>
<s:enumeration value="SubCity"/>
<s:enumeration value="City"/>
<s:enumeration value="Region"/>
<s:enumeration value="Principality"/>
<s:enumeration value="Postcode"/>
<s:enumeration value="Country"/>
<s:enumeration value="DPS"/>
<s:enumeration value="Cedex"/>
<s:enumeration value="MKN"/>
<s:enumeration value="MKA"/>
<s:enumeration value="MKC"/>
<s:enumeration value="ACR"/>
<s:enumeration value="WCR"/>
<s:enumeration value="NCR"/>
<s:enumeration value="TCR"/>
<s:enumeration value="ECR"/>
<s:enumeration value="Percent"/>
<s:enumeration value="Duplicate"/>
<s:enumeration value="DUPmaster"/>
<s:enumeration value="DUPconfidence"/>
<s:enumeration value="Other1"/>
<s:enumeration value="Other2"/>
<s:enumeration value="Other3"/>
<s:enumeration value="Other4"/>
<s:enumeration value="Other5"/>
<s:enumeration value="Other6"/>
<s:enumeration value="Other7"/>
<s:enumeration value="Other8"/>
<s:enumeration value="Other9"/>
<s:enumeration value="Other10"/>
<s:enumeration value="AddressLine1"/>
<s:enumeration value="AddressLine2"/>
<s:enumeration value="AddressLine3"/>
<s:enumeration value="AddressLine4"/>
<s:enumeration value="AddressLine5"/>
<s:enumeration value="AddressLine6"/>
<s:enumeration value="AddressLine7"/>
<s:enumeration value="AddressLine8"/>
<s:enumeration value="CountryISO"/>
<s:enumeration value="MobileTelephone"/>
<s:enumeration value="Telephone1"/>
<s:enumeration value="Telephone2"/>
<s:enumeration value="Telephone3"/>
<s:enumeration value="Telephone4"/>
<s:enumeration value="Email1"/>
<s:enumeration value="Email2"/>
<s:enumeration value="URL1"/>
<s:enumeration value="URL2"/>
<s:enumeration value="NumFieldsPlusOne"/>
</s:restriction>
</s:simpleType>
<s:complexType name="ArrayOfCOptimaOptionOther">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="COptimaOptionOther" nillable="true" type="tns:COptimaOptionOther"/>
</s:sequence>
</s:complexType>
<s:complexType name="COptimaOptionOther">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="OptionName" type="tns:OtherOptions"/>
<s:element minOccurs="0" maxOccurs="1" name="OptionValue" type="s:string"/>
</s:sequence>
</s:complexType>
<s:simpleType name="OtherOptions">
<s:restriction base="s:string">
<s:enumeration value="DefaultCountry"/>
<s:enumeration value="FormatSelectResults"/>
<s:enumeration value="GeocodeSelectResults"/>
</s:restriction>
</s:simpleType>
<s:complexType name="ArrayOfMetaData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="MetaData" nillable="true" type="tns:MetaData"/>
</s:sequence>
</s:complexType>
<s:complexType name="MetaData">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="mType" type="tns:MetaDataType"/>
<s:element minOccurs="0" maxOccurs="1" name="sValue" type="s:string"/>
</s:sequence>
</s:complexType>
<s:simpleType name="MetaDataType">
<s:restriction base="s:string">
<s:enumeration value="duration"/>
<s:enumeration value="error"/>
<s:enumeration value="providername"/>
<s:enumeration value="providertype"/>
<s:enumeration value="datasetname"/>
</s:restriction>
</s:simpleType>
<s:complexType name="ArrayOfContact">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact"/>
</s:sequence>
</s:complexType>
<s:element name="ProcessMultipleAddressesV2010Q2Response">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessMultipleAddressesV2010Q2Result" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessMultipleAddresses">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessMultipleAddressesResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessMultipleAddressesResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessWithEnhancementEx">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
<s:element minOccurs="0" maxOccurs="1" name="RemoveFormatComponentList" type="tns:ArrayOfAnyType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessWithEnhancementExResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessWithEnhancementExResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="EnhanceContactV2010Q2">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="EnhanceContactV2010Q2Response">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="EnhanceContactV2010Q2Result" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="EnhanceContact">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="EnhanceContactResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="EnhanceContactResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetEnhancementDatasetList">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="EnhancementDataSetObject">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AppliesTo" type="tns:ArrayOfString"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfString">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfEnhancementDataSetObject">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="EnhancementDataSetObject" nillable="true" type="tns:EnhancementDataSetObject"/>
</s:sequence>
</s:complexType>
<s:element name="GetEnhancementDatasetListResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetEnhancementDatasetListResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpEnhancements" type="tns:ArrayOfEnhancementDataSetObject"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetAcceptanceLevel">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="countryiso" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetAcceptanceLevelResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetAcceptanceLevelResult" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SelectAlias">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Criteria" type="tns:ArrayOfCriteria"/>
<s:element minOccurs="1" maxOccurs="1" name="Field" type="tns:OFT"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ArrayOfCriteria">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="Criteria" nillable="true" type="tns:Criteria"/>
</s:sequence>
</s:complexType>
<s:complexType name="Criteria">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="setCriteriaValue" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="addCriteriaFields" type="tns:ArrayOfOFT"/>
<s:element minOccurs="1" maxOccurs="1" name="setCriteriaSearchType" type="tns:SearchType"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfOFT">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="OFT" type="tns:OFT"/>
</s:sequence>
</s:complexType>
<s:simpleType name="SearchType">
<s:restriction base="s:string">
<s:enumeration value="OPTIMA_EXACT_SEARCH"/>
<s:enumeration value="OPTIMA_EXACT_COMPLETE_SEARCH"/>
<s:enumeration value="OPTIMA_APPROX_SEARCH"/>
<s:enumeration value="OPTIMA_APPROX_COMPLETE_SEARCH"/>
<s:enumeration value="OPTIMA_NOT_SEARCH"/>
<s:enumeration value="OPTIMA_NOT_EXACT_SEARCH"/>
<s:enumeration value="OPTIMA_NOT_EXACT_COMPLETE_SEARCH"/>
<s:enumeration value="OPTIMA_NOT_APPROX_SEARCH"/>
<s:enumeration value="OPTIMA_NOT_APPROX_COMPLETE_SEARCH"/>
</s:restriction>
</s:simpleType>
<s:element name="SelectAliasResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SelectAliasResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="vAliases" type="tns:ArrayOfString"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SelectUnique">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Criteria" type="tns:ArrayOfCriteria"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SelectUniqueResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SelectUniqueResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SelectV2010Q2">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Criteria" type="tns:ArrayOfCriteria"/>
<s:element minOccurs="0" maxOccurs="1" name="ReturnFields" type="tns:ArrayOfOFT"/>
<s:element minOccurs="1" maxOccurs="1" name="Distinct" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="Sorted" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="Start" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="MaxResults" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SelectV2010Q2Response">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SelectV2010Q2Result" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="Select">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Criteria" type="tns:ArrayOfCriteria"/>
<s:element minOccurs="0" maxOccurs="1" name="ReturnFields" type="tns:ArrayOfOFT"/>
<s:element minOccurs="1" maxOccurs="1" name="Distinct" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="Sorted" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="Start" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="MaxResults" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SelectResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SelectResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetRequiredFieldTypes">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetRequiredFieldTypesResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetRequiredFieldTypesResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="vResults" type="tns:ArrayOfString"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetRequiredFieldList">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetRequiredFieldListResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetRequiredFieldListResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="vResults" type="tns:ArrayOfString"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchMultipleAddressesV2010Q2">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
<s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchMultipleAddressesV2010Q2Response">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SearchMultipleAddressesV2010Q2Result" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContactArray" type="tns:ArrayOfAnyType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchMultipleAddresses">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
<s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchMultipleAddressesResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SearchMultipleAddressesResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContactArray" type="tns:ArrayOfAnyType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchAddressEx">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
<s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="RemoveFormatComponentList" type="tns:ArrayOfAnyType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchAddressExResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SearchAddressExResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessAddressEx">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
<s:element minOccurs="0" maxOccurs="1" name="RemoveFormatComponentList" type="tns:ArrayOfAnyType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessAddressExResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessAddressExResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="StandardiseAddress">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="StandardiseAddressResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="StandardiseAddressResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetCountryList">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryArray" type="tns:ArrayOfOptimaCountry"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ArrayOfOptimaCountry">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="OptimaCountry" nillable="true" type="tns:OptimaCountry"/>
</s:sequence>
</s:complexType>
<s:complexType name="OptimaCountry">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="GetCountryListResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetCountryListResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="CountryArray" type="tns:ArrayOfOptimaCountry"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ValidateAddress">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ValidateAddressResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ValidateAddressResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchAddressV2010Q2">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
<s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchAddressV2010Q2Response">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SearchAddressV2010Q2Result" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchAddressWithOptions">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
<s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchAddressWithOptionsResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SearchAddressWithOptionsResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchAddress">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
<s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SearchAddressResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SearchAddressResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FormatAddressV2010Q2">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FormatAddressV2010Q2Response">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="FormatAddressV2010Q2Result" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessAddressV2010Q2">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="AcceptanceLevel" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="InnerAcceptancePC" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="OuterAcceptancePC" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessAddressV2010Q2Response">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessAddressV2010Q2Result" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="returnData" type="tns:ArrayOfMetaData"/>
<s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessAddressWithOptions">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="AcceptanceLevel" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="InnerAcceptancePC" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="OuterAcceptancePC" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:COptimaOptionSet"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessAddressWithOptionsResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessAddressWithOptionsResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessAddress">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessAddressResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessAddressResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FormatAddress">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FormatAddressResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="FormatAddressResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FormatAddressEx">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
<s:element minOccurs="0" maxOccurs="1" name="RemoveFormatComponentList" type="tns:ArrayOfAnyType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FormatAddressExResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="FormatAddressExResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="GetOCOSoapIn">
<wsdl:part name="parameters" element="tns:GetOCO"/>
</wsdl:message>
<wsdl:message name="GetOCOSoapOut">
<wsdl:part name="parameters" element="tns:GetOCOResponse"/>
</wsdl:message>
<wsdl:message name="GetTransactionHistorySoapIn">
<wsdl:part name="parameters" element="tns:GetTransactionHistory"/>
</wsdl:message>
<wsdl:message name="GetTransactionHistorySoapOut">
<wsdl:part name="parameters" element="tns:GetTransactionHistoryResponse"/>
</wsdl:message>
<wsdl:message name="GetTransactionTotalSoapIn">
<wsdl:part name="parameters" element="tns:GetTransactionTotal"/>
</wsdl:message>
<wsdl:message name="GetTransactionTotalSoapOut">
<wsdl:part name="parameters" element="tns:GetTransactionTotalResponse"/>
</wsdl:message>
<wsdl:message name="ProcessWithEnhancementSoapIn">
<wsdl:part name="parameters" element="tns:ProcessWithEnhancement"/>
</wsdl:message>
<wsdl:message name="ProcessWithEnhancementSoapOut">
<wsdl:part name="parameters" element="tns:ProcessWithEnhancementResponse"/>
</wsdl:message>
<wsdl:message name="ProcessMultipleAddressesV2010Q2SoapIn">
<wsdl:part name="parameters" element="tns:ProcessMultipleAddressesV2010Q2"/>
</wsdl:message>
<wsdl:message name="ProcessMultipleAddressesV2010Q2SoapOut">
<wsdl:part name="parameters" element="tns:ProcessMultipleAddressesV2010Q2Response"/>
</wsdl:message>
<wsdl:message name="ProcessMultipleAddressesSoapIn">
<wsdl:part name="parameters" element="tns:ProcessMultipleAddresses"/>
</wsdl:message>
<wsdl:message name="ProcessMultipleAddressesSoapOut">
<wsdl:part name="parameters" element="tns:ProcessMultipleAddressesResponse"/>
</wsdl:message>
<wsdl:message name="ProcessWithEnhancementExSoapIn">
<wsdl:part name="parameters" element="tns:ProcessWithEnhancementEx"/>
</wsdl:message>
<wsdl:message name="ProcessWithEnhancementExSoapOut">
<wsdl:part name="parameters" element="tns:ProcessWithEnhancementExResponse"/>
</wsdl:message>
<wsdl:message name="EnhanceContactV2010Q2SoapIn">
<wsdl:part name="parameters" element="tns:EnhanceContactV2010Q2"/>
</wsdl:message>
<wsdl:message name="EnhanceContactV2010Q2SoapOut">
<wsdl:part name="parameters" element="tns:EnhanceContactV2010Q2Response"/>
</wsdl:message>
<wsdl:message name="EnhanceContactSoapIn">
<wsdl:part name="parameters" element="tns:EnhanceContact"/>
</wsdl:message>
<wsdl:message name="EnhanceContactSoapOut">
<wsdl:part name="parameters" element="tns:EnhanceContactResponse"/>
</wsdl:message>
<wsdl:message name="GetEnhancementDatasetListSoapIn">
<wsdl:part name="parameters" element="tns:GetEnhancementDatasetList"/>
</wsdl:message>
<wsdl:message name="GetEnhancementDatasetListSoapOut">
<wsdl:part name="parameters" element="tns:GetEnhancementDatasetListResponse"/>
</wsdl:message>
<wsdl:message name="GetAcceptanceLevelSoapIn">
<wsdl:part name="parameters" element="tns:GetAcceptanceLevel"/>
</wsdl:message>
<wsdl:message name="GetAcceptanceLevelSoapOut">
<wsdl:part name="parameters" element="tns:GetAcceptanceLevelResponse"/>
</wsdl:message>
<wsdl:message name="SelectAliasSoapIn">
<wsdl:part name="parameters" element="tns:SelectAlias"/>
</wsdl:message>
<wsdl:message name="SelectAliasSoapOut">
<wsdl:part name="parameters" element="tns:SelectAliasResponse"/>
</wsdl:message>
<wsdl:message name="SelectUniqueSoapIn">
<wsdl:part name="parameters" element="tns:SelectUnique"/>
</wsdl:message>
<wsdl:message name="SelectUniqueSoapOut">
<wsdl:part name="parameters" element="tns:SelectUniqueResponse"/>
</wsdl:message>
<wsdl:message name="SelectV2010Q2SoapIn">
<wsdl:part name="parameters" element="tns:SelectV2010Q2"/>
</wsdl:message>
<wsdl:message name="SelectV2010Q2SoapOut">
<wsdl:part name="parameters" element="tns:SelectV2010Q2Response"/>
</wsdl:message>
<wsdl:message name="SelectSoapIn">
<wsdl:part name="parameters" element="tns:Select"/>
</wsdl:message>
<wsdl:message name="SelectSoapOut">
<wsdl:part name="parameters" element="tns:SelectResponse"/>
</wsdl:message>
<wsdl:message name="GetRequiredFieldTypesSoapIn">
<wsdl:part name="parameters" element="tns:GetRequiredFieldTypes"/>
</wsdl:message>
<wsdl:message name="GetRequiredFieldTypesSoapOut">
<wsdl:part name="parameters" element="tns:GetRequiredFieldTypesResponse"/>
</wsdl:message>
<wsdl:message name="GetRequiredFieldListSoapIn">
<wsdl:part name="parameters" element="tns:GetRequiredFieldList"/>
</wsdl:message>
<wsdl:message name="GetRequiredFieldListSoapOut">
<wsdl:part name="parameters" element="tns:GetRequiredFieldListResponse"/>
</wsdl:message>
<wsdl:message name="SearchMultipleAddressesV2010Q2SoapIn">
<wsdl:part name="parameters" element="tns:SearchMultipleAddressesV2010Q2"/>
</wsdl:message>
<wsdl:message name="SearchMultipleAddressesV2010Q2SoapOut">
<wsdl:part name="parameters" element="tns:SearchMultipleAddressesV2010Q2Response"/>
</wsdl:message>
<wsdl:message name="SearchMultipleAddressesSoapIn">
<wsdl:part name="parameters" element="tns:SearchMultipleAddresses"/>
</wsdl:message>
<wsdl:message name="SearchMultipleAddressesSoapOut">
<wsdl:part name="parameters" element="tns:SearchMultipleAddressesResponse"/>
</wsdl:message>
<wsdl:message name="SearchAddressExSoapIn">
<wsdl:part name="parameters" element="tns:SearchAddressEx"/>
</wsdl:message>
<wsdl:message name="SearchAddressExSoapOut">
<wsdl:part name="parameters" element="tns:SearchAddressExResponse"/>
</wsdl:message>
<wsdl:message name="ProcessAddressExSoapIn">
<wsdl:part name="parameters" element="tns:ProcessAddressEx"/>
</wsdl:message>
<wsdl:message name="ProcessAddressExSoapOut">
<wsdl:part name="parameters" element="tns:ProcessAddressExResponse"/>
</wsdl:message>
<wsdl:message name="StandardiseAddressSoapIn">
<wsdl:part name="parameters" element="tns:StandardiseAddress"/>
</wsdl:message>
<wsdl:message name="StandardiseAddressSoapOut">
<wsdl:part name="parameters" element="tns:StandardiseAddressResponse"/>
</wsdl:message>
<wsdl:message name="GetCountryListSoapIn">
<wsdl:part name="parameters" element="tns:GetCountryList"/>
</wsdl:message>
<wsdl:message name="GetCountryListSoapOut">
<wsdl:part name="parameters" element="tns:GetCountryListResponse"/>
</wsdl:message>
<wsdl:message name="ValidateAddressSoapIn">
<wsdl:part name="parameters" element="tns:ValidateAddress"/>
</wsdl:message>
<wsdl:message name="ValidateAddressSoapOut">
<wsdl:part name="parameters" element="tns:ValidateAddressResponse"/>
</wsdl:message>
<wsdl:message name="SearchAddressV2010Q2SoapIn">
<wsdl:part name="parameters" element="tns:SearchAddressV2010Q2"/>
</wsdl:message>
<wsdl:message name="SearchAddressV2010Q2SoapOut">
<wsdl:part name="parameters" element="tns:SearchAddressV2010Q2Response"/>
</wsdl:message>
<wsdl:message name="SearchAddressWithOptionsSoapIn">
<wsdl:part name="parameters" element="tns:SearchAddressWithOptions"/>
</wsdl:message>
<wsdl:message name="SearchAddressWithOptionsSoapOut">
<wsdl:part name="parameters" element="tns:SearchAddressWithOptionsResponse"/>
</wsdl:message>
<wsdl:message name="SearchAddressSoapIn">
<wsdl:part name="parameters" element="tns:SearchAddress"/>
</wsdl:message>
<wsdl:message name="SearchAddressSoapOut">
<wsdl:part name="parameters" element="tns:SearchAddressResponse"/>
</wsdl:message>
<wsdl:message name="FormatAddressV2010Q2SoapIn">
<wsdl:part name="parameters" element="tns:FormatAddressV2010Q2"/>
</wsdl:message>
<wsdl:message name="FormatAddressV2010Q2SoapOut">
<wsdl:part name="parameters" element="tns:FormatAddressV2010Q2Response"/>
</wsdl:message>
<wsdl:message name="ProcessAddressV2010Q2SoapIn">
<wsdl:part name="parameters" element="tns:ProcessAddressV2010Q2"/>
</wsdl:message>
<wsdl:message name="ProcessAddressV2010Q2SoapOut">
<wsdl:part name="parameters" element="tns:ProcessAddressV2010Q2Response"/>
</wsdl:message>
<wsdl:message name="ProcessAddressWithOptionsSoapIn">
<wsdl:part name="parameters" element="tns:ProcessAddressWithOptions"/>
</wsdl:message>
<wsdl:message name="ProcessAddressWithOptionsSoapOut">
<wsdl:part name="parameters" element="tns:ProcessAddressWithOptionsResponse"/>
</wsdl:message>
<wsdl:message name="ProcessAddressSoapIn">
<wsdl:part name="parameters" element="tns:ProcessAddress"/>
</wsdl:message>
<wsdl:message name="ProcessAddressSoapOut">
<wsdl:part name="parameters" element="tns:ProcessAddressResponse"/>
</wsdl:message>
<wsdl:message name="FormatAddressSoapIn">
<wsdl:part name="parameters" element="tns:FormatAddress"/>
</wsdl:message>
<wsdl:message name="FormatAddressSoapOut">
<wsdl:part name="parameters" element="tns:FormatAddressResponse"/>
</wsdl:message>
<wsdl:message name="FormatAddressExSoapIn">
<wsdl:part name="parameters" element="tns:FormatAddressEx"/>
</wsdl:message>
<wsdl:message name="FormatAddressExSoapOut">
<wsdl:part name="parameters" element="tns:FormatAddressExResponse"/>
</wsdl:message>
<wsdl:portType name="GlobalAddressSoap">
<wsdl:operation name="GetOCO">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to return the casing option enumerator from its integer value.
</wsdl:documentation>
<wsdl:input message="tns:GetOCOSoapIn"/>
<wsdl:output message="tns:GetOCOSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetTransactionHistory">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to return the total number of transactions used in a given time period.
</wsdl:documentation>
<wsdl:input message="tns:GetTransactionHistorySoapIn"/>
<wsdl:output message="tns:GetTransactionHistorySoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetTransactionTotal">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to return the total number of transactions remaining.
</wsdl:documentation>
<wsdl:input message="tns:GetTransactionTotalSoapIn"/>
<wsdl:output message="tns:GetTransactionTotalSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessWithEnhancement">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to process an address and enhance it with a geocode.
</wsdl:documentation>
<wsdl:input message="tns:ProcessWithEnhancementSoapIn"/>
<wsdl:output message="tns:ProcessWithEnhancementSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessMultipleAddressesV2010Q2">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to standardise, validate and format the passed in contact array. Server options can also be passed into this method which will effect how the address is processed and/or returned. You can also specify an object to return addtional inforamtion about the processing, such as any error message that may have occurred. This replaces the ProcessMultipleAddresses method.
</wsdl:documentation>
<wsdl:input message="tns:ProcessMultipleAddressesV2010Q2SoapIn"/>
<wsdl:output message="tns:ProcessMultipleAddressesV2010Q2SoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessMultipleAddresses">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to standardise, validate and format the passed in contact array.
</wsdl:documentation>
<wsdl:input message="tns:ProcessMultipleAddressesSoapIn"/>
<wsdl:output message="tns:ProcessMultipleAddressesSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessWithEnhancementEx">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to process an address and enhance it with a geocode. This method also takes an arraylist that contains address components that should not be returned in the address.
</wsdl:documentation>
<wsdl:input message="tns:ProcessWithEnhancementExSoapIn"/>
<wsdl:output message="tns:ProcessWithEnhancementExSoapOut"/>
</wsdl:operation>
<wsdl:operation name="EnhanceContactV2010Q2">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Method used to search the reference data for an address. Server options can also be passed into this method which will effect how the address is processed and/or returned. You can also specify an object to return addtional inforamtion about the processing, such as any error message that may have occurred. This method replaces the EnhanceContact method.
</wsdl:documentation>
<wsdl:input message="tns:EnhanceContactV2010Q2SoapIn"/>
<wsdl:output message="tns:EnhanceContactV2010Q2SoapOut"/>
</wsdl:operation>
<wsdl:operation name="EnhanceContact">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to enhance a contact with an enhancement dataset.
</wsdl:documentation>
<wsdl:input message="tns:EnhanceContactSoapIn"/>
<wsdl:output message="tns:EnhanceContactSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetEnhancementDatasetList">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to return a list of OptimaEnhancementDataset objects.
</wsdl:documentation>
<wsdl:input message="tns:GetEnhancementDatasetListSoapIn"/>
<wsdl:output message="tns:GetEnhancementDatasetListSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetAcceptanceLevel">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Method used to return the validation level for a given country.
</wsdl:documentation>
<wsdl:input message="tns:GetAcceptanceLevelSoapIn"/>
<wsdl:output message="tns:GetAcceptanceLevelSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SelectAlias">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to call the select alias function. This method is used to query the reference data for aliases by specifing criteria in which to perform a search on.
</wsdl:documentation>
<wsdl:input message="tns:SelectAliasSoapIn"/>
<wsdl:output message="tns:SelectAliasSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SelectUnique">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
The SelectUnique method uses the postal reference data for the specified country to return all address components which have unique values based on the specified criteria.
</wsdl:documentation>
<wsdl:input message="tns:SelectUniqueSoapIn"/>
<wsdl:output message="tns:SelectUniqueSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SelectV2010Q2">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to call the select function. This method is used to query the reference data by specifing criteria in which to perform a search on. Server options can also be passed into this method which will effect how the address is processed and/or returned. You can also specify an object to return addtional inforamtion about the processing, such as any error message that may have occurred. This method replaces the Select method.
</wsdl:documentation>
<wsdl:input message="tns:SelectV2010Q2SoapIn"/>
<wsdl:output message="tns:SelectV2010Q2SoapOut"/>
</wsdl:operation>
<wsdl:operation name="Select">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to call the select function. This method is used to query the reference data by specifing criteria in which to perform a search on.
</wsdl:documentation>
<wsdl:input message="tns:SelectSoapIn"/>
<wsdl:output message="tns:SelectSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetRequiredFieldTypes">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to return the OFT value that a required field is linked to.
</wsdl:documentation>
<wsdl:input message="tns:GetRequiredFieldTypesSoapIn"/>
<wsdl:output message="tns:GetRequiredFieldTypesSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetRequiredFieldList">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Method used to return the required fields for a particular country. Note that the presence of an address component is not an indication of the availability of source data.
</wsdl:documentation>
<wsdl:input message="tns:GetRequiredFieldListSoapIn"/>
<wsdl:output message="tns:GetRequiredFieldListSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SearchMultipleAddressesV2010Q2">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method takes in multiple contact objects and performs a separate search on each one, returning the results in separate arrays.Server options can also be passed into this method which will effect how the address is processed and/or returned. You can also specify an object to return addtional inforamtion about the processing, such as any error message that may have occurred. This replaces the SearchMultipleAddress method.
</wsdl:documentation>
<wsdl:input message="tns:SearchMultipleAddressesV2010Q2SoapIn"/>
<wsdl:output message="tns:SearchMultipleAddressesV2010Q2SoapOut"/>
</wsdl:operation>
<wsdl:operation name="SearchMultipleAddresses">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method takes in multiple contact objects and performs a separate search on each one, returning the results in separate arrays.
</wsdl:documentation>
<wsdl:input message="tns:SearchMultipleAddressesSoapIn"/>
<wsdl:output message="tns:SearchMultipleAddressesSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SearchAddressEx">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Method used to search the reference data for an address. This SearchAddress Method contains an extra paremeter to allow components to be removed from the output address lines. Note: This method has been replaced with the newer SearchAddressWithOptions method.
</wsdl:documentation>
<wsdl:input message="tns:SearchAddressExSoapIn"/>
<wsdl:output message="tns:SearchAddressExSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessAddressEx">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to standardise, validate and format the passed in contact object. This method contains an extra paremeter to allow components to be removed from output address lines.
</wsdl:documentation>
<wsdl:input message="tns:ProcessAddressExSoapIn"/>
<wsdl:output message="tns:ProcessAddressExSoapOut"/>
</wsdl:operation>
<wsdl:operation name="StandardiseAddress">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to standardise the passed in contact object into address components
</wsdl:documentation>
<wsdl:input message="tns:StandardiseAddressSoapIn"/>
<wsdl:output message="tns:StandardiseAddressSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetCountryList">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method is used to return the country list</wsdl:documentation>
<wsdl:input message="tns:GetCountryListSoapIn"/>
<wsdl:output message="tns:GetCountryListSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ValidateAddress">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to validate the passed in contact object
</wsdl:documentation>
<wsdl:input message="tns:ValidateAddressSoapIn"/>
<wsdl:output message="tns:ValidateAddressSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SearchAddressV2010Q2">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Method used to search the reference data for an address. Server options can also be passed into this method which will effect how the address is processed and/or returned. You can also specify an object to return addtional inforamtion about the processing, such as any error message that may have occurred. This method replaces all other searchaddress methods excluding the SearchMultipleAddress method.
</wsdl:documentation>
<wsdl:input message="tns:SearchAddressV2010Q2SoapIn"/>
<wsdl:output message="tns:SearchAddressV2010Q2SoapOut"/>
</wsdl:operation>
<wsdl:operation name="SearchAddressWithOptions">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Method used to search the reference data for an address. This method replaces all other searchaddress methods excluding the SearchMultipleAddress method.
</wsdl:documentation>
<wsdl:input message="tns:SearchAddressWithOptionsSoapIn"/>
<wsdl:output message="tns:SearchAddressWithOptionsSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SearchAddress">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Method used to search the reference data for an address.
</wsdl:documentation>
<wsdl:input message="tns:SearchAddressSoapIn"/>
<wsdl:output message="tns:SearchAddressSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FormatAddressV2010Q2">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to format the passed in contact object. Server options can also be passed into this method which will effect how the address is processed and/or returned. You can also specify an object to return addtional inforamtion about the processing, such as any error message that may have occurred. This method replaces the FormatAddress and FormatAddressEx.
</wsdl:documentation>
<wsdl:input message="tns:FormatAddressV2010Q2SoapIn"/>
<wsdl:output message="tns:FormatAddressV2010Q2SoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessAddressV2010Q2">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to standardise, validate and format the passed in contact object. Server options can also be passed into this method which will effect how the address is processed and/or returned. You can also specify an object to return addtional inforamtion about the processing, such as any error message that may have occurred. This method replaces the ProcessAddress, ProcessAddressEx and the ProcessAddressWithOptions method.
</wsdl:documentation>
<wsdl:input message="tns:ProcessAddressV2010Q2SoapIn"/>
<wsdl:output message="tns:ProcessAddressV2010Q2SoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessAddressWithOptions">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to standardise, validate and format the passed in contact object. Server options can also be passed into this method which will effect how the address is processed and/or returned. This method replaces the ProcessAddress and ProcessAddressEx methods.
</wsdl:documentation>
<wsdl:input message="tns:ProcessAddressWithOptionsSoapIn"/>
<wsdl:output message="tns:ProcessAddressWithOptionsSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessAddress">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to standardise, validate and format the passed in contact object. Note that the acceptance levels are set to the default options. To configure these use ProcessAddressWithOptions method.
</wsdl:documentation>
<wsdl:input message="tns:ProcessAddressSoapIn"/>
<wsdl:output message="tns:ProcessAddressSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FormatAddress">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to format the passed in contact object into address lines.
</wsdl:documentation>
<wsdl:input message="tns:FormatAddressSoapIn"/>
<wsdl:output message="tns:FormatAddressSoapOut"/>
</wsdl:operation>
<wsdl:operation name="FormatAddressEx">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This method is used to format the passed in contact object into address lines. Method contains a paremeter to allow components to be removed from output address lines.
</wsdl:documentation>
<wsdl:input message="tns:FormatAddressExSoapIn"/>
<wsdl:output message="tns:FormatAddressExSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="GlobalAddressSoap" type="tns:GlobalAddressSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetOCO">
<soap:operation soapAction="http://webservices.globaladdress.net/GetOCO" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTransactionHistory">
<soap:operation soapAction="http://webservices.globaladdress.net/GetTransactionHistory" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTransactionTotal">
<soap:operation soapAction="http://webservices.globaladdress.net/GetTransactionTotal" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessWithEnhancement">
<soap:operation soapAction="http://webservices.globaladdress.net/ProcessWithEnhancement" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessMultipleAddressesV2010Q2">
<soap:operation soapAction="http://webservices.globaladdress.net/ProcessMultipleAddressesV2010Q2" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessMultipleAddresses">
<soap:operation soapAction="http://webservices.globaladdress.net/ProcessMultipleAddresses" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessWithEnhancementEx">
<soap:operation soapAction="http://webservices.globaladdress.net/ProcessWithEnhancementEx" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="EnhanceContactV2010Q2">
<soap:operation soapAction="http://webservices.globaladdress.net/EnhanceContactV2010Q2" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="EnhanceContact">
<soap:operation soapAction="http://webservices.globaladdress.net/EnhanceContact" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetEnhancementDatasetList">
<soap:operation soapAction="http://webservices.globaladdress.net/GetEnhancementDatasetList" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAcceptanceLevel">
<soap:operation soapAction="http://webservices.globaladdress.net/GetAcceptanceLevel" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SelectAlias">
<soap:operation soapAction="http://webservices.globaladdress.net/SelectAlias" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SelectUnique">
<soap:operation soapAction="http://webservices.globaladdress.net/SelectUnique" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SelectV2010Q2">
<soap:operation soapAction="http://webservices.globaladdress.net/SelectV2010Q2" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Select">
<soap:operation soapAction="http://webservices.globaladdress.net/Select" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetRequiredFieldTypes">
<soap:operation soapAction="http://webservices.globaladdress.net/GetRequiredFieldTypes" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetRequiredFieldList">
<soap:operation soapAction="http://webservices.globaladdress.net/GetRequiredFieldList" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchMultipleAddressesV2010Q2">
<soap:operation soapAction="http://webservices.globaladdress.net/SearchMultipleAddressesV2010Q2" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchMultipleAddresses">
<soap:operation soapAction="http://webservices.globaladdress.net/SearchMultipleAddresses" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchAddressEx">
<soap:operation soapAction="http://webservices.globaladdress.net/SearchAddressEx" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAddressEx">
<soap:operation soapAction="http://webservices.globaladdress.net/ProcessAddressEx" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="StandardiseAddress">
<soap:operation soapAction="http://webservices.globaladdress.net/StandardiseAddress" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetCountryList">
<soap:operation soapAction="http://webservices.globaladdress.net/GetCountryList" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ValidateAddress">
<soap:operation soapAction="http://webservices.globaladdress.net/ValidateAddress" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchAddressV2010Q2">
<soap:operation soapAction="http://webservices.globaladdress.net/SearchAddressV2010Q2" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchAddressWithOptions">
<soap:operation soapAction="http://webservices.globaladdress.net/SearchAddressWithOptions" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchAddress">
<soap:operation soapAction="http://webservices.globaladdress.net/SearchAddress" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FormatAddressV2010Q2">
<soap:operation soapAction="http://webservices.globaladdress.net/FormatAddressV2010Q2" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAddressV2010Q2">
<soap:operation soapAction="http://webservices.globaladdress.net/ProcessAddressV2010Q2" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAddressWithOptions">
<soap:operation soapAction="http://webservices.globaladdress.net/ProcessAddressWithOptions" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAddress">
<soap:operation soapAction="http://webservices.globaladdress.net/ProcessAddress" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FormatAddress">
<soap:operation soapAction="http://webservices.globaladdress.net/FormatAddress" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FormatAddressEx">
<soap:operation soapAction="http://webservices.globaladdress.net/FormatAddressEx" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="GlobalAddressSoap12" type="tns:GlobalAddressSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetOCO">
<soap12:operation soapAction="http://webservices.globaladdress.net/GetOCO" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTransactionHistory">
<soap12:operation soapAction="http://webservices.globaladdress.net/GetTransactionHistory" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTransactionTotal">
<soap12:operation soapAction="http://webservices.globaladdress.net/GetTransactionTotal" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessWithEnhancement">
<soap12:operation soapAction="http://webservices.globaladdress.net/ProcessWithEnhancement" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessMultipleAddressesV2010Q2">
<soap12:operation soapAction="http://webservices.globaladdress.net/ProcessMultipleAddressesV2010Q2" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessMultipleAddresses">
<soap12:operation soapAction="http://webservices.globaladdress.net/ProcessMultipleAddresses" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessWithEnhancementEx">
<soap12:operation soapAction="http://webservices.globaladdress.net/ProcessWithEnhancementEx" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="EnhanceContactV2010Q2">
<soap12:operation soapAction="http://webservices.globaladdress.net/EnhanceContactV2010Q2" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="EnhanceContact">
<soap12:operation soapAction="http://webservices.globaladdress.net/EnhanceContact" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetEnhancementDatasetList">
<soap12:operation soapAction="http://webservices.globaladdress.net/GetEnhancementDatasetList" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAcceptanceLevel">
<soap12:operation soapAction="http://webservices.globaladdress.net/GetAcceptanceLevel" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SelectAlias">
<soap12:operation soapAction="http://webservices.globaladdress.net/SelectAlias" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SelectUnique">
<soap12:operation soapAction="http://webservices.globaladdress.net/SelectUnique" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SelectV2010Q2">
<soap12:operation soapAction="http://webservices.globaladdress.net/SelectV2010Q2" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Select">
<soap12:operation soapAction="http://webservices.globaladdress.net/Select" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetRequiredFieldTypes">
<soap12:operation soapAction="http://webservices.globaladdress.net/GetRequiredFieldTypes" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetRequiredFieldList">
<soap12:operation soapAction="http://webservices.globaladdress.net/GetRequiredFieldList" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchMultipleAddressesV2010Q2">
<soap12:operation soapAction="http://webservices.globaladdress.net/SearchMultipleAddressesV2010Q2" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchMultipleAddresses">
<soap12:operation soapAction="http://webservices.globaladdress.net/SearchMultipleAddresses" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchAddressEx">
<soap12:operation soapAction="http://webservices.globaladdress.net/SearchAddressEx" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAddressEx">
<soap12:operation soapAction="http://webservices.globaladdress.net/ProcessAddressEx" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="StandardiseAddress">
<soap12:operation soapAction="http://webservices.globaladdress.net/StandardiseAddress" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetCountryList">
<soap12:operation soapAction="http://webservices.globaladdress.net/GetCountryList" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ValidateAddress">
<soap12:operation soapAction="http://webservices.globaladdress.net/ValidateAddress" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchAddressV2010Q2">
<soap12:operation soapAction="http://webservices.globaladdress.net/SearchAddressV2010Q2" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchAddressWithOptions">
<soap12:operation soapAction="http://webservices.globaladdress.net/SearchAddressWithOptions" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchAddress">
<soap12:operation soapAction="http://webservices.globaladdress.net/SearchAddress" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FormatAddressV2010Q2">
<soap12:operation soapAction="http://webservices.globaladdress.net/FormatAddressV2010Q2" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAddressV2010Q2">
<soap12:operation soapAction="http://webservices.globaladdress.net/ProcessAddressV2010Q2" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAddressWithOptions">
<soap12:operation soapAction="http://webservices.globaladdress.net/ProcessAddressWithOptions" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAddress">
<soap12:operation soapAction="http://webservices.globaladdress.net/ProcessAddress" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FormatAddress">
<soap12:operation soapAction="http://webservices.globaladdress.net/FormatAddress" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FormatAddressEx">
<soap12:operation soapAction="http://webservices.globaladdress.net/FormatAddressEx" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="GlobalAddress">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
This is a transaction based service used to perform international address validation, searching and geocoding.
</wsdl:documentation>
<wsdl:port name="GlobalAddressSoap" binding="tns:GlobalAddressSoap">
<soap:address location="http://webservices.globaladdress.net/globaladdress.asmx"/>
</wsdl:port>
<wsdl:port name="GlobalAddressSoap12" binding="tns:GlobalAddressSoap12">
<soap12:address location="http://webservices.globaladdress.net/globaladdress.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
