ent-addr-v2/wsdl/ContactService.wsdl

<wsdl:definitions name="ContactService" targetNamespace="http://www.elsevier.com/ContactService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.elsevier.com/ContactService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:osb="http://www.elsevier.com/osb">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" targetNamespace="http://www.elsevier.com/ContactService/">
      <xsd:import namespace="http://www.elsevier.com/osb" schemaLocation="../xsd/ContactV1.xsd"/>
      <xsd:element name="FormatContact">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContactPostal" type="osb:ContactPostalType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FormatContactResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:boolean"/>
            <xsd:element name="ContactPostal" type="osb:ContactPostalType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FormatContactRequest">
    <wsdl:part element="tns:FormatContact" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="FormatContactResponse">
    <wsdl:part element="tns:FormatContactResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ContactService">
    <wsdl:operation name="FormatContact">
      <wsdl:input message="tns:FormatContactRequest"/>
      <wsdl:output message="tns:FormatContactResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactServiceSOAP" type="tns:ContactService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FormatContact">
      <soap:operation soapAction="http://www.elsevier.com/ContactService/FormatContact"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactService">
    <wsdl:port binding="tns:ContactServiceSOAP" name="ContactServiceSOAP">
      <soap:address location="http://to-be-defined-by-user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>